In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
X = df.drop('sales', axis = 1)
y = df['sales']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [7]:
from sklearn.linear_model import Ridge
model = Ridge(alpha=10)
model.fit(X_train, y_train)
preds = model.predict(X_test)

In [8]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, preds)
mae

1.2587692456910873

In [14]:
from sklearn.model_selection import cross_val_score
cross_val = cross_val_score(model, X_train, y_train, cv = 5, scoring='neg_mean_absolute_error')

In [15]:
cross_val

array([-1.56003773, -1.02521183, -1.51687296, -1.05603169, -1.51515565])

In [17]:
abs(cross_val.mean())

1.334661970987729

In [18]:
from sklearn.model_selection import cross_validate
scores = cross_validate(model,X_train,y_train,
                         scoring=['neg_mean_absolute_error','neg_mean_squared_error','max_error'],cv=5)

In [19]:
pd.DataFrame(scores)

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error,test_max_error
0,0.013259,0.007356,-1.560038,-3.435384,-3.528728
1,0.009197,0.006935,-1.025212,-1.403711,-2.432294
2,0.017923,0.014549,-1.516873,-5.778437,-9.447123
3,0.004012,0.009922,-1.056032,-2.181487,-4.415653
4,0.005015,0.015693,-1.515156,-4.650883,-6.778287

In [20]:
pd.DataFrame(scores).mean()

fit_time                        0.009881
score_time                      0.010891
test_neg_mean_absolute_error   -1.334662
test_neg_mean_squared_error    -3.489980
test_max_error                 -5.320417
dtype: float64